<div class="container">
  <h2>Toutes les Annonces</h2>

  <ul>
    <% @ads.each do |ad| %>
      <li><%= link_to ad.title, ad_path(ad) %></li>
    <% end %>
  </ul>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>